body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #cccccc;
  font-family: Verdana, sans-serif;
}
a{
  color:green;
}
.back-button{
text-decoration:none;
padding:1.25em;
color:red;
font-size:18px;
}
.wrapper {
  margin-right: auto; 
  margin-left:  auto; 
  max-width: 960px; 
  padding-right: 10px; 
  padding-left:  10px; 
}

.header{

}
#post{
  border:1px solid black;
  background-color: #eeeeee;
  padding:10px;
}
.info-box{
	background-color: #eeeeee;
	border: 1px solid black;
	font-size: 20px;
}

table {
    width: 100%; 
    background: white; 
    color: white; 
    border-spacing: 1px; 
   }
   td, th {
    background: maroon; 
    padding: 5px; 
   }
.link-box a{
	text-decoration: none;
	color: White;
}
 